<div class="nav-bar2">
    <a href="/dashboard" id="homeNav"><p> Home </p></a>
    <a href="#"><p id="bibleLink"> Bible </p></a>
    <a href="/plans" id="plansPage"><p> Plans </p></a>
    <a href="/records" id="recordsPage"><p> Records </p></a>
    <a href="/account" id="accountPage"><p> My account </p></a>
</div>