<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="styles/plans.css">
</head>
<body>
    <!-- <h1>My account</h1> -->

    <div class="myPlan">
        <img id="backgroundImg" src="assets/Image1.png" alt="Background Image">
        <div class="workerAds">
            <h2 id="myH2">🥇Premium</h2>
            <p id="getMoreText">Get more out of church services with Premium member.</p>
        </div>
    </div>

    <div class="btnDiv">
        <button id="getWorkerBtn">Get Premium member</button>
    </div>

    <div class="bodyContainer">
        <p id="terms">Terms apply.</p>

        <h3 id="myH3">Availabe plans</h3>

        <div id="plans1">
            <div class="planTitle">
                <p class="planName">Premium member</p>
                <div class="priceContainer">
                    <p class="price">NGN 900</p>
                    <p class="planSpan">PER MONTH</p>
                </div>
            </div>
            <div class="planDetailsContainer">
                <div class="planDetails">
                    <p class="planTerms">1 Premium account . Cancel anytime . Subscribe or one time payment</p>
                    <button class="getPlanBtn">Get Premium member</button>
                    <p class="termsText">Terms apply.</p>
                </div>
            </div>
      
        </div>

        <div id="plans2">
            <div class="planTitle">
                <p class="planName">Premium worker</p>
                <div class="priceContainer">
                    <p class="price">NGN 450</p>
                    <p class="planSpan">PER MONTH</p>
                </div>
            </div>
            <div class="planDetailsContainer">
                <div class="planDetails">
                    <p class="planTerms">1 verified Premium account . Discount for eligible worker . Cancel anytime</p>
                    <button class="getPlanBtn">Get Premium worker</button>
                    <p class="offer">Offer available only to workers that is over 2 years in the church. <span class="termsText">Terms apply.</span></p>
                </div>
            </div>
        </div>

        <div id="plans3">
            <div class="planTitle">
                <p class="planName">Premium Couple</p>
                <div class="priceContainer">
                    <p class="price">NGN 1,200</p>
                    <p class="planSpan">PER MONTH</p>
                </div>
            </div>
            <div class="planDetailsContainer">
                <div class="planDetails">
                    <p class="planTerms">2 Premium accounts . Cancel anytime</p>
                    <button class="getPlanBtn">Get Premium Couple</button>
                    <p class="offer">For couples that has been in the church for over 2 years. <span class="termsText">Terms apply.</span></p>
                </div>
            </div>
        </div>

        <div id="plans4">
            <div class="planTitle">
                <p class="planName">Premium Family</p>
                <div class="priceContainer">
                    <p class="price">NGN 1,400</p>
                    <p class="planSpan">PER MONTH</p>
                </div>
            </div>
            <div class="planDetailsContainer">
                <div class="planDetails">
                    <p class="planTerms">Up to 6 Premium accounts . Control content marked as explicit . Cancel anytime</p>
                    <button class="getPlanBtn">Get Premium Family</button>
                    <p class="offer">For up to 6 family members residing at the same address. <span class="termsText">Terms apply.</span></p>
                </div>
            </div>
        </div>

        <div class="joinPremiumContainer">
            <h4 id="myH4">Why join Premium?.</h4>
            <ul class="listOptions">
                <li class="lists">Ad-free reading time</li>
                <li class="lists">Download audio prayers to listen offline</li>
                <li class="lists">Watch moments and sessions in any order</li>
                <li class="lists">High video quality</l>
                <li class="lists">Share views and exchange opinions with friends in real time</li>
                <li class="lists">Organize watching queue</li>
            </ul>
        </div>
    </div>



    <div class="nav-bar2">
        <a href="/dashboard" id="homeNav"><p> Home </p></a>
        <a href="/bible" id="bibleLink"><p> Bible </p></a>
        <a href="#"><p id="plansPage"> Plans </p></a>
        <a href="/records" id="recordsPage"><p> Records </p></a>
        <a href="/account" id="accountPage"><p> My account </p></a>
    </div>

    <script src="script/account.js"></script>
</body>
</html>